.header {
  /* background: linear-gradient(to right, #0066eb 5%, #ff8ab3 79%); */
  /* background: linear-gradient(97.93deg, #4452ce 43.88%, #6744cc 109.61%); */
  background: rgb(8, 111, 250);
  /* background: linear-gradient(to right, #0066eb 0%, #33fffc 100%); */
  padding: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.heading {
  font-size: 30px;
}
.icon-image {
  padding: 5px;
  height: 75px;
  width: 90px;
  /* background-image: "./img/logo.png"; */
}
.icon-image1 {
  /* padding: 5px; */
  height: 90px;
  width: 110px;
  margin-bottom: 10px;
  border-radius: 35px;
}
.head-text {
  padding: 15px 0px 0px 0px;
}

.container-1 {
  display: grid;
  place-items: center;
  /* width: 600px; */
  margin-top: 80px;
}
.container1-text {
  width: 50%;
  font-size: large;
}

.input-group-div {
  margin-top: 20px;
  max-width: 1300px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px auto;
}

.select-btn {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
}
.search-bar {
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.25),
    -3px -3px 15px 5px rgba(0, 0, 0, 0.22);
  border-radius: 0px;
  z-index: 0;
  box-shadow: none;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  border: 1px solid;
  padding: 0px 5px 0px 5px;
  color: #3d3935;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.b2-container {
  display: grid;
  place-items: center;
}
.b1-container {
  display: grid;
  place-items: center;
  padding: 20px;
  text-align: justify;
}
.row-data {
  margin-top: 30px;
}
.hos-head {
  padding: 15px;
  line-height: 35px;
}
.brand-name {
  font-weight: 100;
  font-size: 1rem;
}
.address-div {
  /* text-align: center; */
  /* margin-left: 10px; */
  padding: 15px;
  text-align: justify;
}

.b2-1 {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  transition: 0.4s;
  color: black;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(97.93deg, #ffffff 30.88%, #3ed8ff 109.61%);
  /* background: linear-gradient(to bottom left, #dd9db0 13%, #4fa1e8 60%); */
}
.b2-1:hover {
  transform: scale(0.9, 0.9);
}
.b2-1 > h5 {
  padding: 25px;
}
.card_design {
  margin: 30px auto;

  border-radius: 30px !important;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25),
    -2px -2px 10px 3px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.card_design:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-title1 {
  background: rgba(72, 209, 255, 0.479);
  padding: 10px;
  border-radius: 10px;
}
.card-title2 {
  background: rgba(191, 81, 255, 0.445);
  padding: 15px;
  border-radius: 10px;
}

.mid-container {
  margin-bottom: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn-reset {
  width: 100px;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
}
.mid-btn {
  /* margin-top: 30px; */
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 250px;
  margin-bottom: 20px;
  transition: 0.4s;

  text-align: center;
  /* background: linear-gradient(97.93deg, #4452ce 43.88%, #6744cc 109.61%);
   */
  background-color: rgb(8, 111, 250);
}
.mid-btn:hover {
  transform: scale(0.9, 0.9);
}
.banner {
  /* background: linear-gradient(97.93deg, #4452ce 43.88%, #6744cc 109.61%); */
  background-color: rgb(8, 111, 250);
  width: 100%;
  color: whitesmoke;
  padding: 20px;
  margin-top: 30px;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0px 0px 0px 0px !important;
}
.banner-1 {
  flex: 0.5;
  padding: 20px;
}
.banner-2 {
  flex: 0.4;
  padding: 20px;
}

.contact-div {
  padding: 15px;
}
.text-center {
  line-height: 25px;
}
.col-5 {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .banner {
    background: linear-gradient(97.93deg, #4452ce 43.88%, #6744cc 109.61%);
    width: 100%;
    color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    flex-direction: column !important;
  }
  .media-text {
    font-size: x-large;
  }

  .b2-1 {
    width: 250px;
  }
  .b2-1 > h5 {
    font-size: 15px;
  }
  .card_design {
    transform: scale(0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }
  .card_design:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }
}

/* loader animation */
.loader {
  color: #1a7dff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
